td,th,div,input,select,textarea,li,ol,dt,dd,h1,h2,h3,h4,h5,h6{font-size:11px; color:#333;}
a{color:#333;}

.main_contents{width:100%; margin:0 auto; clear:both; overflow:hidden;}

#header{background:url(/img/t101/header_bg.jpg) center center no-repeat;}
#header .logo{width:990px; margin:0 auto;}
#header .logo div{vertical-align:middle; height:104px; display:table-cell; *font-family:Arial; *font-size:91px; *display:block;}
#header .logo div img{vertical-align:middle;}

#nav{background:url(/img/t101/nav_bg.jpg); height:36px;}
#nav .nav_c{width:990px; margin:0 auto;}
#nav .nav_c .list{width:800px; overflow:hidden; float:left;}
#nav .nav_c .list li{float:left; height:36px; line-height:36px; margin:0 20px;}
#nav .nav_c .list li.first{margin-left:0;}
#nav .nav_c .list li a{color:#fff; font-weight:bold;}
#nav .nav_c .search{width:161px; overflow:hidden; float:right; background:url(/img/t101/search_bg.jpg); height:23px; margin-top:5px;}
#nav .nav_c .search .form_input{border:none; background:none;}

#main{background:url(/img/t101/main_bg.jpg) top center no-repeat #f2f2f2;}
#main .m_contents{width:994px; margin:12px auto;}

#index_pro_list{overflow:hidden; width:994px; margin:0 auto; height:182px;}

#contents{background:url(/img/t101/split_bg.png); width:994px; min-height:450px; _height:450px;}
#contents .siteLefter{width:188px; overflow:hidden; float:left; margin-left:5px; padding:2px 0;}
#contents .siteRighter{width:776px; overflow:hidden; float:right; margin-right:5px; padding:2px 0;}

#r_nav{background:url(/img/t101/r_nav_bg.jpg); width:778px; height:54px; line-height:54px; overflow:hidden; margin-bottom:9px; color:#fff; font-size:16px; font-weight:bold; text-indent:60px;}

#page_contents{padding:10px; min-height:400px; _height:400px;}

#related_pro .t{height:26px; background:url(/img/t101/relate_pro_t_bg.jpg) bottom repeat-x; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#444;}

#station{width:994px; margin:0 auto; height:20px; line-height:10px; overflow:hidden;}
#station a{color:#652500;}

#pro_category .title{background:url(/img/t101/leftnav_title_bg.png); height:25px; line-height:22px; text-indent:8px; color:#fff; font-weight:bold;}
#pro_category a{color:#000; text-decoration:none; display:block; overflow:hidden;}
#pro_category dl dt{border-bottom:1px dotted #ccc;}
#pro_category dl dt a{height:26px; line-height:26px; text-indent:10px; font-size:12px; font-weight:bold; color:#333;}
#pro_category dl dt a:hover{background:#e6e6e6;}
#pro_category dl dd{border-bottom:1px dotted #ccc;}
#pro_category dl dd a{text-indent:18px; height:20px; line-height:20px;}
#pro_category dl dd a:hover{background:#E6E6E6;}

#index_ad{background:url(/img/t101/body_content_bg.png);}
#index_ad .ad_list{width:978px; margin:5px auto;}
#index_ad .ad_list .banner{float:left; width:650px; overflow:hidden;}
#index_ad .ad_list .r_ad{float:right; width:320px; overflow:hidden;}

#footer{background:url(/img/t101/footer_bg.jpg) top center repeat-x #C1BAB6;}
#footer .contents{min-height:50px; _height:50px; padding:12px 0; width:990px; margin:0 auto;}